* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
 width: 100%;
}

.main{
  width: 100%;
  height: 100%;
  background-color: #222;
  color: #fefefe;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  width: 500px;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.btns{
  height: 50%;
  width: 15%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btns .btn{
  width: 80%;
  height: 33.3%;
  border: 1px solid #444;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #888;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btns .btn:hover{
  background-color: #444;
}

.cards{
  width: 80%;
  height: 80%;
  border-radius: 7px;
  position: relative;
}

.cards .card{
  padding: 1rem;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #222;
  border: 1.5px solid #444;
  display: flex;
  flex-direction: column;
}

.cards .card:nth-child(1) {
  z-index: 9;
  opacity: 1;
}

.cards .card:nth-child(2) {
  z-index: 8;
  transform: translateY(5px);
  opacity: 0.8;
}

.cards .card:nth-child(3) {
  z-index: 3;
  transform: translateY(10px);
  opacity: 0.6;
}

.card .profile{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  margin-bottom: 3rem;
  /* background-image: url('https://images.unsplash.com/photo-1617922001439-4a2e6562f328?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8bW9kZWxzfGVufDB8fDB8fHww'); */
  background-size: cover;
}

.card p{
  user-select: none;
}

.card h2{
  user-select: none;
  margin-bottom: 0.5em;
}

.right{
  height: 50%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  gap: 5px;
}

.right .r{
  width: 50%;
  height: 10%;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.r:hover{
  opacity: 0.5;
}

.r:nth-child(1){
  background-color: yellow;
}
.r:nth-child(2){
  background-color: green;
}
.r:nth-child(3){
  background-color: Red;
}
.r:nth-child(4){
  background-color: white;
}

/* Form */
form {
  min-width: 500px;
  position: absolute;
  z-index: 999;
  border: 1px solid #777;
  background-color: #222;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  gap: 12px;
  padding: 2rem;
  border-radius: 10px;
  display: none;
}

form label {
  color: #fefefe;
}

form input[type="text"]{
  height: 2rem;
  background-color: transparent;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 0 10px;
  color: #fefefe;
}

form input::placeholder {
  color: #777;
}

form button {
  padding: 8px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
  opacity: 0.5;
}

form .createBtn{
  background-color: crimson;
  color: #fefefe;
}

form button:hover{
  opacity: 1;
}


.radio-group{
  display: flex;
  gap: 10px;
  color: #fefefe;
  flex-direction: column;
}